body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}



.hero {
  background: linear-gradient(to right, #0077ff, #00c6ff);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.btn {
  background: #0077ff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #e7c506;
}

.courses {
  padding: 40px 20px;
  text-align: center;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course-card {
  background: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
}

.course-card img {
  width: 100%;
  border-radius: 10px;
}

.checkout {
  margin-top: 30px;
  display: inline-block;
}
